.contact-container {
    width: 80%;
    display: grid;
    grid-template-columns: 55% 40%;
    gap: 10%;
}

.contact-options {
    display:flex;
    flex-direction:column;
    margin-left: 15rem;
}

.contact-option {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    margin-top: .7rem;
    display: inline-block;
    font-size: .9rem;
}

.contact-option:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
}

.contact-option-icon {
    font-size: 1.6rem;
    margin-bottom: .5rem;
}


form {
    margin-top: .7rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: .5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white);
    font: var(--font-family-text);

}



/* media queries */

@media (max-width: 768px) {
    .contact-container {
        width: var(--container-width-sm);
        grid-template-columns: 1fr;
        gap: 2rem;
        margin-left: 1rem;
    }
    }

    .contact-options {
    display:flex;
    flex-direction:column;
   margin: auto;

        
    }